.body_black {
  background-image: linear-gradient(to right, #434343, #000000);
}

.body_white {
  background-image: linear-gradient(to right, #fdfbfb, #ebedee)
}

@font-face {
  font-family: my_monospace_bold;
  src: url(/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: my_monospace_regular;
  src: url(/fonts/SpaceMono-Regular.ttf);
}

.h1_white {
  font-family: my_monospace_bold;
  font-weight: bolder;
  font-size: 3em;
  color: whitesmoke;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.h1_black {
  font-family: my_monospace_bold;
  font-weight: bolder;
  font-size: 3em;
  color: black;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.settings {
  position: absolute;
  top: 3%;
  right: 5%;
  display: inline-block;
}

.settings_btn {
  background-image: url(/icons/round-settings-white-24px.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  border: whitesmoke;
  border-radius: 50%;
}

.settings_options {
  display: none;
  position: absolute;
  width: 80px;
  background-color: whitesmoke;
}

.settings_options a {
  color: black;
  font-family: my_monospace;
  font-weight: bold;
  font-size: 1.5em;
  /* width: 80px; */
  padding: 5px;
  text-decoration: none;
  display: block;
}

.settings_options a:hover {background-color: #888a88;}

.settings:hover .settings_options{display: block;}

.settings:hover .settings_btn {background-color: #888a88;}